{% extends "equipment_accounting/base.html" %}
{% block content %}
<div class="content-section">
    <h3>О проекте VTK Network</h3>
    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error pariatur ipsa culpa architecto earum quidem
        fugiat. Nam soluta quis fuga! Enim, eius similique dolorem tenetur nemo distinctio sit repellat nesciunt! Autem
        deleniti dolores consequatur, officia aliquid quidem id cumque aspernatur cum consectetur ex esse officiis odit?
        Explicabo dolor animi doloremque?</p>
</div>
{% endblock content %}