{% extends "equipment_accounting/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h3 class="article-title">Добро пожаловать!</h3>
        <p class="text-muted">Доступ к <a href="{% url 'equipment_accounting_search' %}">поиску</a> можно получить после
            <a href="{% url 'register' %}">регистрации</a>.<br>
            Регистрация только @vainahtelecom.ru адресов.<br>
            Получить @vainahtelecom.ru адрес или восстановить от него пароль можно <a
                href="https://t.me/josh_kant">здесь</a>.<br>
            Реализован <a href="{% url 'blog:post_list' %}">блог</a> для размещения статей, публикаций, предложений,
            замечаний.
        </p>
    </div>
</article>
{% endblock content %}