{% extends 'network/base.html' %}
{% load network_tags %}

{% block title %}{% endblock %}

{% block content %}
<div class="content-section p-2">
    <h3>{{ title }}</h3>
    <ul>
        {% for ont, state in zipped_context %}
        <li>
            <a class="{{ state.value|ont_status }}" href="{% url 'ont_detail' ip model ont.oid %}">
                {{ forloop.counter }}) {{ ont.value|clear_value }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block analitycs %}
<div class="col-md-4">
    <div class="content-section">
        <h3>Аналитика</h3>
        <p class="text-muted">Карта проекта
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">Сортировка по сплиттерам</li>
            <li class="list-group-item list-group-item-light">Емкость сплиттеров</li>
            <li class="list-group-item list-group-item-light">Колличество сплиттеров</li>
        </ul>
        </p>
    </div>
</div>
{% endblock %}