{% extends 'network/base.html' %}
{% load network_tags %}

{% block title %}{% endblock %}

{% block content %}
<div class="content-section">
    <h4 class="text-muted">{{ title }}</h4>
    <!-- <p class="offline">Для оборудования ELTEX (LTPx) функционал не реализован!</p> -->
    <ul>
        <div class="dropdown show">
            <h6 class="dropdown-toggle" data-toggle="dropdown"><span class="text-muted">Грозненский участок</span></h3>
                <div class="dropdown-menu" style="position: relative; bottom: 0; border-color: transparent;">
                    {% for olt in olts %}
                    {% if olt.desc == 'Грозненский' %}
                    <li><a onMouseOver="this.style.background='#78b833'" onMouseOut="this.style.background='#28a745'"
                            style="display: block; background: #28a745; color: white; padding: 0 2px; text-decoration: none; font-size: 0.85rem; outline: 1px solid white; height: auto; min-height: 40px;"
                            href="{% url 'olt_detail' olt.ip olt.model %}">
                            {{ olt.ip }}
                            {{ olt.address }}
                            {{ olt.model }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor%}
                </div>
        </div>
        <div class="dropdown show">
            <h6 class="dropdown-toggle" data-toggle="dropdown"><span class="text-muted">Гудермесский участок</span></h3>
                <div class="dropdown-menu" style="position: relative; bottom: 0; border-color: transparent;">
                    {% for olt in olts %}
                    {% if olt.desc == 'Гудермесский' %}
                    <li><a onMouseOver="this.style.background='#78b833'" onMouseOut="this.style.background='#28a745'"
                            style="display: block; background: #28a745; color: white; padding: 0 2px; text-decoration: none; font-size: 0.85rem; outline: 1px solid white; height: auto; min-height: 40px;"
                            href="{% url 'olt_detail' olt.ip olt.model %}">
                            {{ olt.ip }}
                            {{ olt.address }}
                            {{ olt.model }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor%}
                </div>
        </div>
        <div class="dropdown show">
            <h6 class="dropdown-toggle" data-toggle="dropdown"><span class="text-muted">Шалинский участок</span></h3>
                <div class="dropdown-menu" style="position: relative; bottom: 0; border-color: transparent;">
                    {% for olt in olts %}
                    {% if olt.desc == 'Шалинский' %}
                    <li><a onMouseOver="this.style.background='#78b833'" onMouseOut="this.style.background='#28a745'"
                            style="display: block; background: #28a745; color: white; padding: 0 2px; text-decoration: none; font-size: 0.85rem; outline: 1px solid white; height: auto; min-height: 40px;"
                            href="{% url 'olt_detail' olt.ip olt.model %}">
                            {{ olt.ip }}
                            {{ olt.address }}
                            {{ olt.model }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor%}
                </div>
        </div>
        <div class="dropdown show">
            <h6 class="dropdown-toggle" data-toggle="dropdown"><span class="text-muted">Урус-Мартановский участок</span>
                </h3>
                <div class="dropdown-menu" style="position: relative; bottom: 0; border-color: transparent;">
                    {% for olt in olts %}
                    {% if olt.desc == 'Урус-Мартановский' %}
                    <li><a onMouseOver="this.style.background='#78b833'" onMouseOut="this.style.background='#28a745'"
                            style="display: block; background: #28a745; color: white; padding: 0 2px; text-decoration: none; font-size: 0.85rem; outline: 1px solid white; height: auto; min-height: 40px;"
                            href="{% url 'olt_detail' olt.ip olt.model %}">
                            {{ olt.ip }}
                            {{ olt.address }}
                            {{ olt.model }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor%}
                </div>
        </div>
        <div class="dropdown show">
            <h6 class="dropdown-toggle" data-toggle="dropdown"><span class="text-muted">Знаменский участок</span></h3>
                <div class="dropdown-menu" style="position: relative; bottom: 0; border-color: transparent;">
                    {% for olt in olts %}
                    {% if olt.desc == 'Знаменский' %}
                    <li><a onMouseOver="this.style.background='#78b833'" onMouseOut="this.style.background='#28a745'"
                            style="display: block; background: #28a745; color: white; padding: 0 2px; text-decoration: none; font-size: 0.85rem; outline: 1px solid white; height: auto; min-height: 40px;"
                            href="{% url 'olt_detail' olt.ip olt.model %}">
                            {{ olt.ip }}
                            {{ olt.address }}
                            {{ olt.model }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor%}
                </div>
        </div>
    </ul>
</div>

<input type="text" class="form-control" name="olt_ip" id="olt-ip" placeholder="Введите IP">
<button type="button" class="btn btn-outline-secondary btn-sm mt-2" onclick="find_olt()">Найти</button>
<div id="result" class="mt-2"></div>

<script>
    function find_olt() {
        const items = document.querySelectorAll('li')
        const olt_ip = document.getElementById('olt-ip').value
        const result = document.getElementById('result')
        for (let i = 0; i < items.length; i++) {
            list_item = items[i].innerText
            if (list_item.includes(olt_ip) && olt_ip) {
                const area = document.createElement('h6')
                area.innerText = items[i].parentElement.parentElement.innerText
                area.classList.add('text-muted')
                const link = document.createElement('a')
                link.href = items[i].href
                link.innerHTML = items[i].innerHTML
                if (result.hasChildNodes()) {
                    result.innerHTML = ''
                }
                result.appendChild(area)
                result.appendChild(link)
                return true
            } else {
                result.innerHTML = ''
            }
        }
    }
</script>

{% endblock %}