{% extends 'network/base.html' %}
{% load network_tags %}

{% block title %}{% endblock %}

{% block content %}
<div class="content-section">
    <h4>{{ title }}</h4>
    <!-- <p class="offline">Для оборудования ELTEX (LTPx) функционал не реализован!</p> -->
    <ul>
        <div class="dropdown show">
            <h6 class="dropdown-toggle" data-toggle="dropdown">Грозненский участок</h3>
                <div class="dropdown-menu" style="position: relative; bottom: 0; border-color: transparent;">
                    {% for olt in olts %}
                    {% if olt.desc == 'Грозненский' %}
                    <li><a onMouseOver="this.style.background='#78b833'" onMouseOut="this.style.background='#28a745'"
                            style="display: block; background: #28a745; color: white; padding: 0 5px; text-decoration: none; margin: 2px; font-size: 0.85rem;"
                            href="{% url 'olt_detail' olt.ip olt.model %}">
                            {{ olt.ip }}
                            {{ olt.address }}
                            {{ olt.model }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor%}
                </div>
        </div>
        <div class="dropdown show">
            <h6 class="dropdown-toggle" data-toggle="dropdown">Гудермесский участок</h3>
                <div class="dropdown-menu" style="position: relative; bottom: 0; border-color: transparent;">
                    {% for olt in olts %}
                    {% if olt.desc == 'Гудермесский' %}
                    <li><a onMouseOver="this.style.background='#78b833'" onMouseOut="this.style.background='#28a745'"
                            style="display: block; background: #28a745; color: white; padding: 0 5px; text-decoration: none; margin: 2px; font-size: 0.85rem;"
                            href="{% url 'olt_detail' olt.ip olt.model %}">
                            {{ olt.ip }}
                            {{ olt.address }}
                            {{ olt.model }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor%}
                </div>
        </div>
        <div class="dropdown show">
            <h6 class="dropdown-toggle" data-toggle="dropdown">Шалинский участок</h3>
                <div class="dropdown-menu" style="position: relative; bottom: 0; border-color: transparent;">
                    {% for olt in olts %}
                    {% if olt.desc == 'Шалинский' %}
                    <li><a onMouseOver="this.style.background='#78b833'" onMouseOut="this.style.background='#28a745'"
                            style="display: block; background: #28a745; color: white; padding: 0 5px; text-decoration: none; margin: 2px; font-size: 0.85rem;"
                            href="{% url 'olt_detail' olt.ip olt.model %}">
                            {{ olt.ip }}
                            {{ olt.address }}
                            {{ olt.model }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor%}
                </div>
        </div>
        <div class="dropdown show">
            <h6 class="dropdown-toggle" data-toggle="dropdown">Урус-Мартановский участок</h3>
                <div class="dropdown-menu" style="position: relative; bottom: 0; border-color: transparent;">
                    {% for olt in olts %}
                    {% if olt.desc == 'Урус-Мартановский' %}
                    <li><a onMouseOver="this.style.background='#78b833'" onMouseOut="this.style.background='#28a745'"
                            style="display: block; background: #28a745; color: white; padding: 0 5px; text-decoration: none; margin: 2px; font-size: 0.85rem;"
                            href="{% url 'olt_detail' olt.ip olt.model %}">
                            {{ olt.ip }}
                            {{ olt.address }}
                            {{ olt.model }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor%}
                </div>
        </div>
        <div class="dropdown show">
            <h6 class="dropdown-toggle" data-toggle="dropdown">Знаменский участок</h3>
                <div class="dropdown-menu" style="position: relative; bottom: 0; border-color: transparent;">
                    {% for olt in olts %}
                    {% if olt.desc == 'Знаменский' %}
                    <li><a onMouseOver="this.style.background='#78b833'" onMouseOut="this.style.background='#28a745'"
                            style="display: block; background: #28a745; color: white; padding: 0 5px; text-decoration: none; margin: 2px; font-size: 0.85rem;"
                            href="{% url 'olt_detail' olt.ip olt.model %}">
                            {{ olt.ip }}
                            {{ olt.address }}
                            {{ olt.model }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor%}
                </div>
        </div>
    </ul>
</div>
{% endblock %}